.social-link {
  @apply w-[24px] h-[24px] bg-[#171F2F] rounded-full flex justify-center items-center flex-shrink-0 hover:opacity-80 active:opacity-90;
}

.dish-material::after {
  content: "/";
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 6px;
  padding-right: 6px;
}

.dish-material:last-child::after {
  content: "";
  padding: 0;
}

.dish-material-white {
  color: #fff;
}

.dish-material-green {
  background: linear-gradient(136.39deg, #2bf1e5 3.18%, #40e33d 102.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dish-material-orange {
  background: linear-gradient(136.39deg, #ffbf43 3.18%, #ff4869 102.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dish-material-red {
  color: #fb2047;
}

.dish-view-recipe {
  @apply w-full h-[40px] flex justify-center items-center bg-[#1D2A43] text-[#fff] text-sm font-[500] rounded hover:opacity-80 active:opacity-90;
}
